*{
  margin:0;
  padding:0;
}
.control {
  position:relative;
  top:-92px;
  width: 568px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  cursor: pointer;
  text-align: right;
  margin: 0 auto;
}
.control button{
  padding: 10px 10px;
  background-color: rgba(0, 0, 255, 0.2);
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: block;
  border: none;
  box-sizing: border-box;
}
.control button:first-child{
  grid-column: 2/3;
}
.control button.left{
  grid-column: 1/2;
}