<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Web 01 - Basic</title>
  <link rel="stylesheet" href="../../vendor/bootstrap.min.css">
	<link rel="stylesheet" href="../../vendor/font-awesome.min.css">
  <link rel="stylesheet" href="web01.css">
</head>
<body>
  
  <header>
    <div id="my-collapse" class="collapse bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-7">
            <h2 class="text-white">About</h2>
            <p class="text-muted">
                Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.
            </p>
          </div>
          <div class="col-sm-4 offset-sm-1">
            <h2 class="text-white">Contact</h2>
            <ul class="list-unstyled">
              <li><a class="text-white" href="">Follow on Twitter</a></li>
              <li><a class="text-white" href="">Like on Facebook</a></li>
              <li><a class="text-white" href="">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container d-flex justify-content-between">

            <a class="navbar-brand" href="#"> <i class="fa fa-camera"></i> Album</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#my-collapse" >
              <span class="navbar-toggler-icon"></span>
            </button>
          
      </div>
      
    </nav>
  </header>
 
  <main>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Album example</h1>
        <p class="lead text-muted">
            Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.
        </p>
        <div>
          <a href="" class="btn btn-primary my-2">Main call to action</a>
          <a href="" class="btn btn-secondary my-2">Secondary action</a>
        </div>
      </div>
    </section>
    <section class="album bg-light py-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 mb-4">
            <div class="card shadow-sm">
              <img src="https://via.placeholder.com/350x225.png/55595c/eceeef?text=Thumbnail" alt="" class="card-img-top">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">View</button>
                    <button class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4">
            <div class="card shadow-sm">
              <img src="https://via.placeholder.com/350x225.png/55595c/eceeef?text=Thumbnail" alt="" class="card-img-top">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">View</button>
                    <button class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4">
            <div class="card shadow-sm">
              <img src="https://via.placeholder.com/350x225.png/55595c/eceeef?text=Thumbnail" alt="" class="card-img-top">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">View</button>
                    <button class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4">
            <div class="card shadow-sm">
              <img src="https://via.placeholder.com/350x225.png/55595c/eceeef?text=Thumbnail" alt="" class="card-img-top">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">View</button>
                    <button class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4">
            <div class="card shadow-sm">
              <img src="https://via.placeholder.com/350x225.png/55595c/eceeef?text=Thumbnail" alt="" class="card-img-top">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">View</button>
                    <button class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4">
            <div class="card shadow-sm">
              <img src="https://via.placeholder.com/350x225.png/55595c/eceeef?text=Thumbnail" alt="" class="card-img-top">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">View</button>
                    <button class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4">
            <div class="card shadow-sm">
              <img src="https://via.placeholder.com/350x225.png/55595c/eceeef?text=Thumbnail" alt="" class="card-img-top">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">View</button>
                    <button class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4">
            <div class="card shadow-sm">
              <img src="https://via.placeholder.com/350x225.png/55595c/eceeef?text=Thumbnail" alt="" class="card-img-top">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">View</button>
                    <button class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4 mb-4">
            <div class="card shadow-sm">
              <img src="https://via.placeholder.com/350x225.png/55595c/eceeef?text=Thumbnail" alt="" class="card-img-top">
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button class="btn btn-sm btn-outline-secondary">View</button>
                    <button class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-muted">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>Album example is © Bootstrap, but please download and customize it for yourself!
      </p>
      <p>New to Bootstrap? <a href="https://getbootstrap.com">Visit the homepage</a>  or read our getting started guide.
      </p>
    </div>
   
  </footer>
  <!-- javascript lib -->
<script type="text/javascript" src="../../vendor/jquery.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="web01.js"></script>
</body>
</html>