<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tamhoang2019 Pix</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../../vendor/bootstrap.min.css">
	<link rel="stylesheet" href="../../vendor/font-awesome.min.css">
  <link rel="stylesheet" href="pix.css">
</head>
<body>
  <div id="pix">
    <header class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="navbar navbar-expand-sm">
                <a class="navbar-brand" href="#">
                  <img src="images/logo.png" alt="">
                </a>
                <button class="btn-light navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#menutop" aria-controls="menutop"
                    aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="menutop">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">About me</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Collection</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Folio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
          </div>
        </div>
      </div>
    </header>
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="slogan">The only real valuable thing is intuition.</h3>
            <br>
            <p class="author">Albert Einstein</p>
          </div>
        </div>
      </div>
    </section>
    <section class="khoianh">
      <div class="container">
        <div class="row">
          <div class="_1khoi col-sm-4">
            <a href="" class="tren">
              <img src="images/1.png" alt="" class="layer1">
              <div class="layerPink"></div>
              <h2 class="layer3">Our Services</h2>
            </a>
            <div class="duoi">
              <a href="" class="title">Our Premium Services</a>
              <p class="mota">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus risus, rutrum quis aliquet nec, tristique vel lacus.</p>
            </div>
          </div>
          <!-- het _1khoi -->
          <div class="_1khoi col-sm-4">
            <a href="" class="tren pink2">
              <img src="images/1.png" alt="" class="layer1">
              <div class="layerPink"></div>
              <h2 class="layer3">Our Services</h2>
            </a>
            <div class="duoi">
              <a href="" class="title">Our Premium Services</a>
              <p class="mota">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus risus, rutrum quis aliquet nec, tristique vel lacus.</p>
            </div>
          </div>
          <!-- het _1khoi -->
          <div class="_1khoi col-sm-4">
            <a href="" class="tren pink3">
              <img src="images/2.png" alt="" class="layer1">
              <div class="layerPink pink3"></div>
              <h2 class="layer3">Our Services</h2>
            </a>
            <div class="duoi">
              <a href="" class="title">Our Premium Services</a>
              <p class="mota">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus risus, rutrum quis aliquet nec, tristique vel lacus.</p>
            </div>
          </div>
          <!-- het _1khoi -->
        </div>
      </div>
    </section>
    <!-- het khoianh -->
    <section class="khoitt">
      <div class="container">
        <div class="row">
          <div class="_1khoitt col-sm-4">
            <a href="" class="title">Our Premium Services</a>
            <p class="mota">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus risus, rutrum quis aliquet nec, tristique vel lacus.</p>
            <p>Quisque gravida felis eu massa consectetur at malesuada nibh porttitor. </p>
          </div>
          <!-- het 1khoitt -->
          <div class="_1khoitt anh col-sm-4">
            <a href=""><img src="images/3.png" alt=""></a>
            <a href="" class="title"><h4>Lorem ipsum dolor</h4></a>
            <i class="date">24th Febuary 2019</i>          
          </div>
          <!-- het khoitt anh -->
          <div class="_1khoitt anh col-sm-4">
            <a href=""><img src="images/4.png" alt=""></a>
            <a href="" class="title"><h4>dolor sit amet consecte tur adipiscing</h4></a>
            <i class="date">24th Febuary 2019</i>          
          </div>
          <!-- het khoitt anh -->
        </div>
      </div>
    </section>
    <section class="khoitt">
      <div class="container">
        <div class="row">
          <div class="_1khoitt col-sm-4">
            <a href="" class="title">From the wooden desk</a>
            <p class="mota">Quisque gravida felis eu massa consectetur at malesuada nibh porttitor. Nam nunc nulla, tempus at viverra sit amet, semper nec diam. </p>
            <p>Quisque gravida felis eu massa consectetur at malesuada nibh porttitor. </p>
          </div>
          <!-- het 1khoitt -->
          <div class="_1khoitt anh col-sm-4">
            <a href=""><img src="images/5.png" alt=""></a>
            <a href="" class="title"><h4>Lorem ipsum dolor</h4></a>
            <i class="date">24th Febuary 2019</i>          
          </div>
          <!-- het khoitt anh -->
          <div class="_1khoitt anh col-sm-4">
            <a href=""><img src="images/6.png" alt=""></a>
            <a href="" class="title"><h4>dolor sit amet consecte tur adipiscing</h4></a>
            <i class="date">24th Febuary 2019</i>          
          </div>
          <!-- het khoitt anh -->
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p>
                Quisque turpis lorem, vehicula eget rhoncus vel, ultricies ac mauris. Morbi lectus velit, tincidunt congue pharetra eu, varius nec libero. Vivamus justo risus, dignissim ac vestibulum eget, egestas rutrum magna. Etiam malesuada nisi et nisl volutpat tristique. 
            </p>
            <p class="copyright">
                Copyright 2019 Footer here
            </p>
          </div>
          <div class="col-sm-6 text-center text-sm-right">
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x"></i>
            </span>
            <span class="fa-stack fa-2x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-skype fa-stack-1x"></i>
            </span>
          </div>
        </div>
      </div>
    </footer>
  </div>
  

  <!-- javascript lib -->
<script type="text/javascript" src="../../vendor/jquery.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="pix.js"></script>
</body>
</html>