<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Illustrate</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=vietnamese" rel="stylesheet">

  <link rel="stylesheet" href="../../vendor/bootstrap.min.css">
	<link rel="stylesheet" href="../../vendor/font-awesome.min.css">
	<link rel="stylesheet" href="illustrate.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <a href="" class="logo"><img class="img-fluid" src="images/8.png" alt=""></a> 
        </div>
        <p class="col-sm-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
    </div>
  </header>
  <div class="menu">
    <div class="container">
      <div class="row">
        <nav class="navbar navbar-expand-sm navbar-dark">
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#menutop" aria-controls="menutop" aria-expanded="false" aria-label="Toggle navigation">Menu</button>
          <div class="collapse navbar-collapse" id="menutop">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item ">
                      <a class="nav-link" href="#">Home</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="#">about</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">art</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">work</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">ill</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">blog</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">contact</a>
                  </li>
              </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="banner">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1 prev text-center">
          <a href=""><img src="images/prev.png" alt=""></a>
          
        </div>
        <div class="col-10 col-lg-8 offset-lg-1 col-xl-4 offset-xl-3 text">
          <h3>Graphic Designer & Illustrator
              <p>Create/tor</p> 
          </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />Duis laoreet laoreet leo at dictum. </p>
        </div>
        <div class="col-1 offset-xl-3 offset-lg-1 next text-center">
            <a href=""><img src="images/next.png" alt=""></a>
        </div>
      </div>
    </div>
    
  </div>

  <div class="content">
    <div class="container">
      <section class="row text1">
        <div class="col text-center">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur nisi a dolor iaculis id viverra lectus facilisis. Curabitur diam tellus,
        </div>
      </section>
      <section class="row text2">
        <div class="col col-lg-10 offset-lg-1 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur nisi a dolor iaculis id viverra lectus facilisis. Curabitur diam tellus, fermentum id aliquet non, rhoncus et orci. Aenean ac tellus turpis, nec porttitor elit.
        </div>
      </section>
      <article class="recent-work row">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">
                  recent work
              </h2>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. 
              </div>
            </div>
          </div>
          <div class="card">
            <img src="images/1.png" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-title">
                  Me so hungry
              </div>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper
              </div>
            </div>
          </div>
          <div class="card">
            <img src="images/2.png" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-title">
                  Me so hungry
              </div>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper
              </div>
            </div>
          </div>
          <div class="card">
            <img src="images/3.png" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-title">
                  Me so hungry
              </div>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- het recent work -->
      <article class="recent-work row">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">
                  from the blog
               </h2>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. 
              </div>
            </div>
          </div>
          <div class="card">
            <img src="images/4.png" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-title">
                  Krzysztof Nowak
              </div>
              <div class="card-text date">
                  14th April 
              </div>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas 
              </div>
            </div>
          </div>
          <div class="card">
            <img src="images/5.png" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-title">
                  Krzysztof Nowak
              </div>
              <div class="card-text date">
                  9th April 
              </div>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper
              </div>
            </div>
          </div>
          <div class="card">
            <img src="images/6.png" alt="" class="card-img-top">
            <div class="card-body">
              <div class="card-title">
                  Krzysztof Nowak
              </div>
              <div class="card-text date">
                  23rd march
              </div>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas 
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- het from the blog -->
      <article class="recent-work row author">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
                <div class="card-title">
                    About the Author
                </div>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed 
              </div>
            </div>
          </div>
          <div class="card settings">
            <div class="card-body">
              <div class="card-text">
                  <img src="images/settings.png" alt="">
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                  We’ll It’s a bloody text box init?
              </div>
              <div class="card-text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas
              </div>
            </div>
          </div>
          <div class="card camera">
            <div class="card-body">
              <div class="card-text">
                  <img src="images/camera.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- het author -->
    </div>
  </div>
<div class="last" style="height: 200px;"></div>
  <!-- javascript lib -->
<script type="text/javascript" src="../../vendor/jquery.min.js"></script>
<script type="text/javascript" src="../../vendor/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="illustrate.js"></script> -->
</body>
</html>