*{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
  font-weight: bold;
  color: #111;
}
a:hover{
  color: #ed008c;
}
body{
  font-family: 'Roboto', sans-serif;
}
.container{
  width: 662px;
  margin: auto;
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between
}
.left{
  width: 50%;
  background-color:#feaa7a;
}
.top{
  position: relative;
  height: 200px;
  width: 100%;
}
img.layer1{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
}
.layer2{
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 0;
  bottom: 0;
}
.left .layer3{
  padding: 15px;
}
.left a.tieude{
  color: #fff;
  font-size:20px;
  padding-bottom: 10px;
  display: block;
}
p{
  font-size: 14px;
}
.right{
  width: calc(50% - 55px);
  padding-right: 10px;
}
._1tin{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #333; 
}
._1tin:last-child{
  border-bottom: none;
}
._1tin .ndtin{
  width: 100%;
  padding-top: 10px;
}
._1tin .top{
  height: 90px;
  width: 125px;
  float: left;
  margin-right: 10px;
}
.menuTop{
  width: 662px;
  margin: auto;
  background-color: #fff;
  margin-bottom: 15px;
  color: #fd7222;
}
.menuTop h2{
  display: inline-block;
  font: 400 20px 'Roboto Slab', sans-serif;
}
.menuTop .menu{
  display: inline-block;
  list-style-type: none;
}
.menuTop .menu li, .menuTop .menu li a{
  display: inline-block;
}
.menuTop .menu li a{
  font-size: 12px;
}
.menuTop .menu li a:hover{
  color: #111;
}
.menuTop .menu li a.active{
  color: #fd7222;
}
.menuTop .menu li a.active i{
  margin-right:8px;
  color: #111;
  font-size: 15px;
}
.menuTop .menu li::before{
  content: "|";
  padding: 0 8px;
  color: gray;
  font-size: 10px;
}
.menuTop .menu li:first-child{
  padding-left:0;
}
.menuTop .menu li:first-child::before{
  content: "";
}