/* title-bar */
.title-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
.title-bar .title a{
	font-size: 24px;
	font-weight: 700;
	color: #32323d;
	text-transform: capitalize;
}
.title-bar .title a:hover{
	color: #65509e;
}

.title-bar .title a i {
	font-weight: 200;
	font-size: 16px;
}
.title-bar .title a._16px{
	font-size: 16px;
}
.title-bar .title i._12px {
	font-size: 12px;
}