/* topic */
.topic{
	/* background-image: url('https://photo-zmp3.zadn.vn/banner/2/a/2ac9d9aa479519e1724db5b860373578_1499168345.jpg'); */
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	transition: all .5s ;
}
.topic-name{
	color: #fcfcfc;
	font-size: 18px;
	text-align: center;
	font-weight: 700;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding: 20px 0;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.8));
	transition: all .5s ;
}
.topic-cover:hover .topic-name{
	
	padding-bottom: 30px;
	padding-top: 10px;
	transition: all .3s ease;
}
.topic-cover:hover .topic, .topic-cover:focus .topic {
	transform: scale(1.2);
	transition: transform .5s ;
}
.topic-cover {
	overflow: hidden;
	width: 210px;
	height: 118px;
	position: relative;

}
.topic.image1{
	background-image: url('https://photo-zmp3.zadn.vn/banner/2/a/2ac9d9aa479519e1724db5b860373578_1499168345.jpg');
}
.topic.image2{
	background-image: url('https://photo-zmp3.zadn.vn/banner/a/0/a0ec6c6a7752b6fea60480c0e48716b1_1479888087.jpg');
}
.topic.image3{
	background-image: url('https://photo-zmp3.zadn.vn/cover/f/3/c/7/f3c7430733178067c7d1b7ae78b87719.jpg');
}
.topic.image4{
	background-image: url('https://photo-zmp3.zadn.vn/cover/2/2/7/7/2277fc7c7cfa3d1d894abbff95cb60b6.jpg');
}
.topic.image5{
	background-image: url('https://photo-zmp3.zadn.vn/cover/0/b/e/c/0becb5c8082d040cacaf7682b008937a.jpg');
}
.topic.image6{
	background-image: url('https://photo-zmp3.zadn.vn/cover/0/0/1/1/0011ced07b1fbd5b2e7fb0484f5dc4e9.jpg');
}
.topic.image7{
	background-image: url('https://photo-zmp3.zadn.vn/covers/1/3/1301c274e77b9fc0e99a4b258eed6d52_1520571632.jpg');
}
.topic.image8{
	background-image: url('https://photo-zmp3.zadn.vn/cover/1/a/a/8/1aa84b1dc95218d0796b77db59466e15.jpg');
}