main .game{
  position: relative;
  height: 300px;
}
main .game .image{
  width: 100%;
  height: 100%;
}
main .game a.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
main .game a.overlay:hover{
  border-radius: 5px;
  border: 4px solid blue;
}
main .game i{
  font-size: 50px;
}
#game1{
  background: url('../images/game_brick2.png') no-repeat;
  background-size: 100% 100%;
}
#game2{
  background: url('../images/Screen Shot flappy bird.png') no-repeat;
  background-size: 100% 100%;
}